<div class="container">
  <% bikes_purchased.each do |bike| %>
      <%= link_to bike_path(bike), :class => "text-decoration-none" do %>
      <div class="bike-card">
        <% if bike.photo.attached? %>
          <%= cl_image_tag bike.photo.key, class: "bike-image" %>
        <% else %>
          <%= image_tag "bike.jpg", class: "bike-image" %>
        <% end %>
        <div class="bike-details">
          <h3><%= bike.model %></h3>
          <p><%= bike.year %> &middot; <%= bike.kilometers %> km &middot; <%= bike.category %></p>
          <div class="bike-price">
            <p class="price">Precio contado</p>
            <p class="price-amount">$<%= bike.price %></p>
          </div>
        </div>
      </div>
    <% end %>
  <% end %>
</div>
