<div class="container-img">
  <h1 class="title-img-new">Please enter the details of the bike you'd like to sell</h1>
  <%= simple_form_for @bike do |f| %>
    <div class="container" id="view-form" >
      <div class="row">
        <div class="row">
          <div class="col-lg-6 col-md-12">
            <%= f.input :model, label: @bike.model, placeholder: "Include brand and model", input_html: { class: 'form-control' } %>
            <div class="row">
              <div class="col-6">
                <%= f.input :year, label: @bike.year, input_html: { class: 'form-control' } %>
              </div>
              <div class="col-6">
                <%= f.input :kilometers, label: @bike.kilometers, input_html: { class: 'form-control' } %>
              </div>
            </div>
            <%= f.input :price, label: @bike.price, placeholder: "In dolars", input_html: { class: 'form-control' } %>
            <%= f.input :category, label: @bike.category, placeholder: "select or create your own category", collection: ["Naked", "Street", "Hybrid", "Electric", "Other"], prompt: "Select or create your own category", input_html: { class: 'form-control' } %>

            <div>
              <input type="text" class="d-none">
            </div>
          </div>
          <div class="col-lg-6 col-md-12 form-control-photo">
            <%= f.input :description, label: @bike.description, input_html: { class: 'form-control', rows: 8 } %>
            <%= f.input :photo, as: :file, label: "Photo", input_html: { class: 'form-control-file' } %>
          </div>

        </div>
      <div class="row">
        <div class="d-flex justify-content-between mt-4">
            <%= link_to "Cancel", bikes_path, class: "backLink-show" %>
            <%= f.submit "Update Offer", class: "btn-show-bike-buy-1" %>
        </div>
      </div>

      </div>
    </div>
  <% end %>
</div>

</div>

