<h1>Welcome to HaBikes!</h1>
<%= link_to "Sell your bike here", new_bike_path(@bike) %>
<ul>
<% @bikes.each do |bike| %>
  <li>
  <%= image_tag "bike.jpg" %>
  <%= bike.model %>
  <%= bike.year %>
  <%= bike.description %>
  <%= bike.kilometers %>
  <%= bike.price %>
  <%= bike.category %>
  </li>
<% end %>
</ul>
