<div class="new-container">
  <div class="container text-center p-4">
    <h1>Please enter the details of the bike you'd like to sell</h1>
  </div>

  <%= simple_form_for @bike do |f| %>
    <div class="container" id="view-form">
      <div class="row">
        <div class="row">
          <!-- Right Column -->
          <div class="col-lg-6 col-md-12">
            <%= f.input :model, label: "Bike Model", placeholder: "Include brand and model", input_html: { class: 'form-control' } %>
            <div class="row">
              <div class="col-6">
                <%= f.input :year, label: "Year", input_html: { class: 'form-control' } %>
              </div>
              <div class="col-6">
                <%= f.input :kilometers, label: "Kilometers", input_html: { class: 'form-control' } %>
              </div>
            </div>
            <%= f.input :price, label: "Price", placeholder: "In dolars", input_html: { class: 'form-control' } %>
            <%= f.input :category, label: "Category", placeholder: "select or create your own category", collection: ["Naked", "Street", "Hybrid", "Electric", "Other"], prompt: "Select or create your own category", input_html: { class: 'form-control' } %>

            <div>
              <input type="text" class="d-none">
            </div>
          </div>

          <!-- Left Column -->
          <div class="col-lg-6 col-md-12">
            <%= f.input :description, label: "Description", input_html: { class: 'form-control', rows: 8 } %>
            <%= f.input :photo, as: :file, label: "Photo", input_html: { class: 'form-control-file' } %>
          </div>

        </div>

      <!-- Buttons -->
      <div class="row">
        <div class="d-flex justify-content-between mt-4">
            <%= f.submit "Create Offer", class: "create-button" %>
            <%= link_to "Cancel", bikes_path, class: "cancel-button" %>
        </div>
      </div>

      </div>
    </div>
  <% end %>

</div>
