<section class="section__show">
  <div class="section__div-show">
    <div class="div__div-show-container-card">
      <h1 class="h1-show">
        <%= @bike.model %>, <%= @bike.year %>
      </h1>
      <div class="details-show-bike">
        <p class="details-text">
          <strong>Category:</strong> <%= @bike.category %>
        </p>
        <p class="details-text">
          <strong>Description:</strong> <%= @bike.description %>
        </p>
        <p class="details-text">
          <strong>Kilometers:</strong> <%= @bike.kilometers %> km
        </p>
        <p class="details-text">
          <strong>Price:</strong> $<%= @bike.price %>
        </p>
      </div>
      <!--<div class="details-text-user-post">
        <p class="details-text-user-post-p"><small>Posted by User ID: <%= @bike.user.email %></small></p>
      </div>-->
    </div>
  </div>
  <div class="section__div-show-img">
    <% if @bike.photo.attached? %>
      <%= cl_image_tag @bike.photo.key, :class => "photo-show-bike" %>
    <% else %>
      <%= image_tag "bike.jpg", :class => "photo-show-bike" %>
    <% end %>
  </div>
</section>
<div class="links-show-bike">
  <%= link_to "Back", bikes_path, :class => "backLink-show" %>
  <div class="links-show-bike-1">
    <% if user_signed_in? && current_user.id == @bike.user_id %>
    <%= link_to "Remove offer",
    bike_path(@bike.id),
    data: {turbo_method: :delete,
    turbo_confirm: "Are you sure?"},
    :class => "btn-show-bike-buy-1 margin-bottom-1" %>
    <%= link_to "Edit offer", edit_bike_path(@bike.id), :class => "btn-show-bike-buy-1" %>
  <% else %>
    <%= simple_form_for [@bike, @purchase] do |f| %>
      <%= f.hidden_field :seller_id, value: @bike.user_id %>
      <%= f.hidden_field :bike_id, value: @bike.id %>
      <%= f.submit "Buy", class: "btn-show-bike-buy" %>
    <% end %>
  <% end %>
  </div>
</div>
